# Проект 1. Оськин Максим Сергеевич. Группа БГЕО 232

Так как были проблемы с работой в jupiter, буду делать через Google Colab, дополнительно применяя бибилотеку pandas, так как до этого раньше на ней писал и было очень удобно

Тогда сначала подключим библиотеку для более удобной работы:

In [1]:
import pandas as pd

Буду работать с датасетами электромобилей. Для этого скачал заранее датасет, загрузил его на Dropbox, после чего по полученной ссылке буду его скачивать:

In [2]:
!wget  -O 'cars.csv' -q 'https://www.dropbox.com/scl/fi/gylr81ygwry4t02cjcvaw/Electric_Vehicle_Population_Data.csv?rlkey=iob653l7e7wuz21c8bthl0j0u&st=574sv72s&dl=0'

Когда cars.csv уже в хранилище есть, буду его как бы конвертировать в переменную для более удобной работы:

In [3]:
cars = pd.read_csv('cars.csv')

Проверим, что cars у нас уже не пустой:

In [5]:
print('Экземпляров в cars = ', len(cars))

Экземпляров в cars =  205439

Посмотрим частично на сам датасет:

In [6]:
cars

,VIN (1-10),County,City,State,Postal Code,Model Year,Make,Model,Electric Vehicle Type,Clean Alternative Fuel Vehicle (CAFV) Eligibility,Electric Range,Base MSRP,Legislative District,DOL Vehicle ID,Vehicle Location,Electric Utility,2020 Census Tract
0,JTMAB3FV3P,Kitsap,Seabeck,WA,98380.0,2023,TOYOTA,RAV4 PRIME,Plug-in Hybrid Electric Vehicle (PHEV),Clean Alternative Fuel Vehicle Eligible,42.0,0.0,35.0,240684006,POINT (-122.8728334 47.5798304),PUGET SOUND ENERGY INC,5.303509e+10
1,1N4AZ1CP6J,Kitsap,Bremerton,WA,98312.0,2018,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,151.0,0.0,35.0,474183811,POINT (-122.6961203 47.5759584),PUGET SOUND ENERGY INC,5.303508e+10
2,5YJ3E1EA4L,King,Seattle,WA,98101.0,2020,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,266.0,0.0,43.0,113120017,POINT (-122.3340795 47.6099315),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303301e+10
3,1N4AZ0CP8E,King,Seattle,WA,98125.0,2014,NISSAN,LEAF,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,84.0,0.0,46.0,108188713,POINT (-122.304356 47.715668),CITY OF SEATTLE - (WA)|CITY OF TACOMA - (WA),5.303300e+10
4,1G1FX6S00H,Thurston,Yelm,WA,98597.0,2017,CHEVROLET,BOLT EV,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,238.0,0.0,20.0,176448940,POINT (-122.5715761 46.9095798),PUGET SOUND ENERGY INC,5.306701e+10
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
205434,1N4BZ1CV2N,Chelan,Peshastin,WA,98847.0,2022,NISSAN,LEAF,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,12.0,187384494,POINT (-120.6051696 47.5510173),PUD NO 1 OF CHELAN COUNTY,5.300796e+10
205435,1FTVW1EV0P,Snohomish,Everett,WA,98208.0,2023,FORD,F-150,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,44.0,255036386,POINT (-122.2032349 47.8956271),PUGET SOUND ENERGY INC,5.306104e+10
205436,5YJXCDE22H,Spokane,Cheney,WA,99004.0,2017,TESLA,MODEL X,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,200.0,0.0,6.0,221631588,POINT (-117.5836098 47.4951312),BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,5.306301e+10
205437,5YJ3E1EA3J,King,Vashon,WA,98070.0,2018,TESLA,MODEL 3,Battery Electric Vehicle (BEV),Clean Alternative Fuel Vehicle Eligible,215.0,0.0,34.0,336983496,POINT (-122.466938 47.429244),PUGET SOUND ENERGY INC||CITY OF TACOMA - (WA),5.303303e+10
205438,7SAYGDEE7P,Spokane,Spokane,WA,99208.0,2023,TESLA,MODEL Y,Battery Electric Vehicle (BEV),Eligibility unknown as battery range has not b...,0.0,0.0,6.0,228335040,POINT (-117.4268937 47.7323627),BONNEVILLE POWER ADMINISTRATION||AVISTA CORP||...,5.306301e+10

Рассмотрим более подробно, что из себя представляют столбцы:

In [7]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 205439 entries, 0 to 205438
Data columns (total 17 columns):
 #   Column                                             Non-Null Count   Dtype
---  ------                                             --------------   -----
 0   VIN (1-10)                                         205439 non-null  object
 1   County                                             205436 non-null  object
 2   City                                               205436 non-null  object
 3   State                                              205439 non-null  object
 4   Postal Code                                        205436 non-null  float64
 5   Model Year                                         205439 non-null  int64
 6   Make                                               205439 non-null  object
 7   Model                                              205438 non-null  object
 8   Electric Vehicle Type                              205439 non-null  object
 9   Clean Alternative Fuel Vehicle (CAFV) Eligibility  205439 non-null  object
 10  Electric Range                                     205431 non-null  float64
 11  Base MSRP                                          205431 non-null  float64
 12  Legislative District                               204997 non-null  float64
 13  DOL Vehicle ID                                     205439 non-null  int64
 14  Vehicle Location                                   205431 non-null  object
 15  Electric Utility                                   205436 non-null  object
 16  2020 Census Tract                                  205436 non-null  float64
dtypes: float64(5), int64(2), object(10)
memory usage: 26.6+ MB

Теперь есть полная уверенность в том, что датасет валидный. Теперь поэкспериментируем с данными, попытаемся найти какие-то закономерности

Давайте посмотрим, в каком году сколько планируется выпускать моделей. Для этого сгруппирируем все модели по годам и по считаем их количество с помощью count():

In [11]:
cars_temp = cars.groupby(by=['Model Year']).count()['VIN (1-10)']
cars_temp

Model Year
1997        1
1999        4
2000        7
2002        2
2003        1
2008       22
2010       24
2011      707
2012     1549
2013     4331
2014     3507
2015     4741
2016     5474
2017     8662
2018    14386
2019    10872
2020    12241
2021    19837
2022    28465
2023    60161
2024    30030
2025      415
Name: VIN (1-10), dtype: int64

Видим, что больше всего было запланировано в 2023, а меньше всего в 1997.

Давайте попробуем сделать функцию, которая на вход принимает год и датасет, а на выход отправляет количество автомобилей, выпущенных в данный год

In [19]:
def num_released_cars(cars, year : int) -> int:
    cars_years = cars.groupby(by=['Model Year']).count()['VIN (1-10)']
    if year in cars_years:
        return cars_years[year]
    # если мы ещё находимся здесь, то значит, что такой год ни разу упоминается в датасете, поэтому вывод равен нулю
    return 0

Давайте теперь проверим работу функции:

In [20]:
for year in range(1990, 2030):
    print('Выпущенных машин в году', year, 'равно', num_released_cars(cars, year))

Выпущенных машин в году 1990 равно 0
Выпущенных машин в году 1991 равно 0
Выпущенных машин в году 1992 равно 0
Выпущенных машин в году 1993 равно 0
Выпущенных машин в году 1994 равно 0
Выпущенных машин в году 1995 равно 0
Выпущенных машин в году 1996 равно 0
Выпущенных машин в году 1997 равно 1
Выпущенных машин в году 1998 равно 0
Выпущенных машин в году 1999 равно 4
Выпущенных машин в году 2000 равно 7
Выпущенных машин в году 2001 равно 0
Выпущенных машин в году 2002 равно 2
Выпущенных машин в году 2003 равно 1
Выпущенных машин в году 2004 равно 0
Выпущенных машин в году 2005 равно 0
Выпущенных машин в году 2006 равно 0
Выпущенных машин в году 2007 равно 0
Выпущенных машин в году 2008 равно 22
Выпущенных машин в году 2009 равно 0
Выпущенных машин в году 2010 равно 24
Выпущенных машин в году 2011 равно 707
Выпущенных машин в году 2012 равно 1549
Выпущенных машин в году 2013 равно 4331
Выпущенных машин в году 2014 равно 3507
Выпущенных машин в году 2015 равно 4741
Выпущенных машин в году 2016 равно 5474
Выпущенных машин в году 2017 равно 8662
Выпущенных машин в году 2018 равно 14386
Выпущенных машин в году 2019 равно 10872
Выпущенных машин в году 2020 равно 12241
Выпущенных машин в году 2021 равно 19837
Выпущенных машин в году 2022 равно 28465
Выпущенных машин в году 2023 равно 60161
Выпущенных машин в году 2024 равно 30030
Выпущенных машин в году 2025 равно 415
Выпущенных машин в году 2026 равно 0
Выпущенных машин в году 2027 равно 0
Выпущенных машин в году 2028 равно 0
Выпущенных машин в году 2029 равно 0

Как видим, всё работает корректно, так как всё можно сравнить с предыдущими результами

Попробуем найти самые популярные марки автомобилей. Я так понял, что они находятся в колонке Make.

In [21]:
cars_temp = cars.groupby(by=['Make']).count()['VIN (1-10)']
cars_temp

Make
ACURA                      32
ALFA ROMEO                 77
AUDI                     3918
AZURE DYNAMICS              4
BENTLEY                     5
BMW                      8481
CADILLAC                  745
CHEVROLET               15114
CHRYSLER                 3693
DODGE                     665
FIAT                      799
FISKER                    186
FORD                    10840
GENESIS                   266
GMC                        35
HONDA                    1078
HYUNDAI                  5782
JAGUAR                    243
JEEP                     5413
KIA                      9104
LAND ROVER                 69
LEXUS                     754
LINCOLN                   299
LUCID                     289
MAZDA                     711
MERCEDES-BENZ            1930
MINI                     1015
MITSUBISHI               1018
NISSAN                  14525
POLESTAR                 1162
PORSCHE                  1232
RAM                         2
RIVIAN                   5679
ROLLS-ROYCE                 2
SMART                     248
SUBARU                   1238
TESLA                   90318
TH!NK                       5
TOYOTA                   7945
VOLKSWAGEN               5638
VOLVO                    4877
WHEEGO ELECTRIC CARS        3
Name: VIN (1-10), dtype: int64

Здесь я сначала решил просто по маркам сгруппировать машины и посмотреть на список

Сохраним в отдельную переменную список всех марок машин:

In [25]:
makes_unique = cars['Make'].unique().tolist()
makes_unique

['TOYOTA',
 'NISSAN',
 'TESLA',
 'CHEVROLET',
 'HYUNDAI',
 'RIVIAN',
 'FORD',
 'KIA',
 'AUDI',
 'DODGE',
 'BMW',
 'VOLKSWAGEN',
 'MITSUBISHI',
 'VOLVO',
 'FIAT',
 'MAZDA',
 'MINI',
 'LINCOLN',
 'MERCEDES-BENZ',
 'PORSCHE',
 'JAGUAR',
 'LEXUS',
 'JEEP',
 'CHRYSLER',
 'HONDA',
 'GENESIS',
 'POLESTAR',
 'SUBARU',
 'CADILLAC',
 'SMART',
 'FISKER',
 'LUCID',
 'ACURA',
 'GMC',
 'ALFA ROMEO',
 'LAND ROVER',
 'TH!NK',
 'BENTLEY',
 'AZURE DYNAMICS',
 'WHEEGO ELECTRIC CARS',
 'ROLLS-ROYCE',
 'RAM']

Создадим функцию, которая по полученному датасету машин будет выдавать самую популярную марку:

In [28]:
def most_popular_make_cars(cars):
    cars_makes = cars.groupby(by=['Make']).count()['VIN (1-10)']
    makes_unique = cars['Make'].unique().tolist()
    # Теперь будем искать самую популярную марку, проходясь по всем маркам и меняя лидера по маркам, если такого находим
    most_popular_make = "none"
    most_popular_make_count = 0
    for make in makes_unique:
        if cars_makes[make] > most_popular_make_count:
            most_popular_make = make
            most_popular_make_count = cars_makes[make]
    # Может выдавать "none" только в том случае, если в датасете размеры всех популяций марок равны по нулю, чего, очевидно, не будет
    return most_popular_make

In [30]:
print('Самая популярная марка машины =', most_popular_make_cars(cars))

Самая популярная марка машины = TESLA

Дейтствительно, пересмотрев все марки вручную, получаем, что TESLA будет самой популярной маркой

Теперь попробуем определить самые популярные модели по похожему алгоритму

In [31]:
cars_temp = cars.groupby(by=['Model']).count()['VIN (1-10)']
cars_temp

Model
330E     496
500      780
500E      19
530E     431
740E      28
        ...
XC40    1118
XC60    1326
XC90    1695
XM        13
ZDX       32
Name: VIN (1-10), Length: 152, dtype: int64

Сохраним в отдельную переменную список всех моделей машин:

In [32]:
models_unique = cars['Model'].unique().tolist()
models_unique

['RAV4 PRIME',
 'LEAF',
 'MODEL 3',
 'BOLT EV',
 'MODEL Y',
 'SANTA FE',
 'R1T',
 'FOCUS',
 'SOUL',
 'VOLT',
 'A3',
 'HORNET',
 'MODEL S',
 'I3',
 'NIRO',
 'E-GOLF',
 'SPORTAGE',
 'X3',
 'MODEL X',
 'X5',
 'PRIUS PRIME',
 'EV6',
 'OUTLANDER',
 'CYBERTRUCK',
 'XC40',
 '500',
 'CX-90',
 'SORENTO',
 'HARDTOP',
 'I8',
 'FUSION',
 'AVIATOR',
 'GLE-CLASS',
 'XC90',
 'TAYCAN',
 'BOLT EUV',
 'Q4',
 'ESCAPE',
 'I-PACE',
 'C-MAX',
 'RX',
 'GRAND CHEROKEE',
 'WRANGLER',
 '330E',
 'CORSAIR',
 'F-150',
 '530E',
 'PACIFICA',
 'CLARITY',
 'IONIQ 5',
 'GV70',
 'IX',
 'EQE-CLASS SUV',
 'KONA',
 'EQB-CLASS',
 'PS2',
 'ID.4',
 'SOLTERRA',
 'R1S',
 'IONIQ 6',
 'EQS-CLASS SEDAN',
 'B-CLASS',
 'SPARK',
 'MUSTANG MACH-E',
 'PRIUS PLUG-IN',
 'IONIQ',
 'BZ4X',
 'LYRIQ',
 'I4',
 'EQS-CLASS SUV',
 'E-TRON',
 'ARIYA',
 'XC60',
 'TUCSON',
 'EQ FORTWO',
 'Q5 E',
 'KONA ELECTRIC',
 'C40',
 'EV9',
 'PROLOGUE',
 'CROSSTREK',
 'GV60',
 'COUNTRYMAN',
 'SOUL EV',
 'V60',
 'Q8',
 'PANAMERA',
 'MX-30',
 'E-TRON SPORTBACK',
 'BLAZER EV',
 'EQE-CLASS SEDAN',
 'E-TRON GT',
 'I5',
 'RZ',
 'I7',
 'S60',
 'ROADSTER',
 'OCEAN',
 'OPTIMA',
 'AIR',
 'CAYENNE',
 'NX',
 'EQUINOX EV',
 'ZDX',
 'GLC-CLASS',
 'TRANSIT',
 'SONATA',
 'Q5',
 'I-MIEV',
 'ELR',
 'SILVERADO EV',
 'HUMMER EV PICKUP',
 'XM',
 'FORTWO ELECTRIC DRIVE',
 'C-CLASS',
 'TONALE',
 '745E',
 'FORTWO',
 'RAV4',
 'RANGE ROVER',
 'ACCORD',
 'SQ8',
 '740E',
 'S-CLASS',
 'RS E-TRON GT',
 'RANGE ROVER SPORT',
 'G80',
 'TX',
 'RANGER',
 'CX-70',
 'EDV',
 'S90',
 'CT6',
 'A7 E',
 '500E',
 'EX40',
 'IONIQ 5 N',
 'KARMA',
 'CITY',
 'FLYING SPUR',
 nan,
 'TRANSIT CONNECT ELECTRIC',
 '750E',
 'BENTAYGA',
 '918',
 'WHEEGO',
 'CR-V',
 '745LE',
 'SPECTRE',
 'A8 E',
 'S-10 PICKUP',
 'ESPRINTER',
 'PROMASTER 3500']

Создадим функцию, которая по полученному датасету машин будет выдавать самую популярную модель:

In [50]:
def most_popular_model_cars(cars):
    cars_models = cars.groupby(by=['Model']).count()['VIN (1-10)']
    models_unique = cars['Model'].unique().tolist()
    # Теперь будем искать самую популярную модель, проходясь по всем маркам и меняя лидера по маркам, если такого находим
    most_popular_model = "none"
    most_popular_model_count = 0
    for model in models_unique:
        # Здесь что-то натыкался на модель nan, поэтому решил игнорировать nan, если встречаю, а то с ним ошибка будет
        if pd.isna(model):
            continue
        if cars_models[model] > most_popular_model_count:
            most_popular_model = model
            most_popular_model_count = cars_models[model]
    # Может выдавать "none" только в том случае, если в датасете размеры всех популяций марок равны по нулю, чего, очевидно, не будет
    return most_popular_model

Проверим, что теперь на этот раз получилось:

In [51]:
print('Самая популярная модель машины =', most_popular_model_cars(cars))

Самая популярная модель машины = MODEL Y

Получили самую популярную модель

Попробуем ещё узнать, в каком из каждых годов какой из типов (BEVs или PHEVs) был более популярен. Сначала попробуем просто сгруппировать по типу и годам наш датасет:

In [53]:
cars_temp = cars.groupby(by=['Electric Vehicle Type', 'Model Year']).count()['VIN (1-10)']
cars_temp

Electric Vehicle Type                   Model Year
Battery Electric Vehicle (BEV)          1997              1
                                        1999              4
                                        2000              7
                                        2002              2
                                        2003              1
                                        2008             22
                                        2010             21
                                        2011            637
                                        2012            709
                                        2013           2765
                                        2014           1731
                                        2015           3462
                                        2016           3721
                                        2017           4570
                                        2018          10006
                                        2019           8848
                                        2020          10405
                                        2021          15771
                                        2022          23987
                                        2023          52509
                                        2024          22197
                                        2025            163
Plug-in Hybrid Electric Vehicle (PHEV)  2010              3
                                        2011             70
                                        2012            840
                                        2013           1566
                                        2014           1776
                                        2015           1279
                                        2016           1753
                                        2017           4092
                                        2018           4380
                                        2019           2024
                                        2020           1836
                                        2021           4066
                                        2022           4478
                                        2023           7652
                                        2024           7833
                                        2025            252
Name: VIN (1-10), dtype: int64

Сохраним названия типов в переменную и посмотрим, что всё правильно:

In [57]:
types_unique = cars['Electric Vehicle Type'].unique().tolist()
types_unique

['Plug-in Hybrid Electric Vehicle (PHEV)', 'Battery Electric Vehicle (BEV)']

Попробуем теперь написать функцию, которая по датасету и году определяет, машины какого типа было больше всего

In [62]:
def most_popular_types_cars(cars, year : int):
    cars_types_years = cars.groupby(by=['Electric Vehicle Type', 'Model Year']).count()['VIN (1-10)']
    types_unique = cars['Electric Vehicle Type'].unique().tolist()
    # Теперь будем пытаться высчитать переменные cars_type_bev и cars_type_phev
    cars_type_bev = 0
    if year in cars_types_years[types_unique[1]]:
        cars_type_bev = cars_types_years[types_unique[1]][year]
    cars_type_phev = 0
    if year in cars_types_years[types_unique[0]]:
        cars_type_phev = cars_types_years[types_unique[0]][year]
    # Теперь из полученных переменных выводим результат
    if cars_type_bev == cars_type_phev:
        return "Оба типа одной и той же популярности"
    if cars_type_bev > cars_type_phev:
        return "Тип BEV популярнее типа PHEV"
    # Остаётся последний вариант, который уже буду без условного оператора прописывать:
    return "Тип PHEV популярнее типа BEV"

In [63]:
print(most_popular_types_cars(cars, 2016), )

Тип BEV популярнее типа PHEV

Теперь пройдёмся по всем годам и посмотрим, в каких годах какой тип был популярен:

In [64]:
for year in range(1990, 2030):
    print(most_popular_types_cars(cars, year), "в", year, "году")

Оба типа одной и той же популярности в 1990 году
Оба типа одной и той же популярности в 1991 году
Оба типа одной и той же популярности в 1992 году
Оба типа одной и той же популярности в 1993 году
Оба типа одной и той же популярности в 1994 году
Оба типа одной и той же популярности в 1995 году
Оба типа одной и той же популярности в 1996 году
Тип BEV популярнее типа PHEV в 1997 году
Оба типа одной и той же популярности в 1998 году
Тип BEV популярнее типа PHEV в 1999 году
Тип BEV популярнее типа PHEV в 2000 году
Оба типа одной и той же популярности в 2001 году
Тип BEV популярнее типа PHEV в 2002 году
Тип BEV популярнее типа PHEV в 2003 году
Оба типа одной и той же популярности в 2004 году
Оба типа одной и той же популярности в 2005 году
Оба типа одной и той же популярности в 2006 году
Оба типа одной и той же популярности в 2007 году
Тип BEV популярнее типа PHEV в 2008 году
Оба типа одной и той же популярности в 2009 году
Тип BEV популярнее типа PHEV в 2010 году
Тип BEV популярнее типа PHEV в 2011 году
Тип PHEV популярнее типа BEV в 2012 году
Тип BEV популярнее типа PHEV в 2013 году
Тип PHEV популярнее типа BEV в 2014 году
Тип BEV популярнее типа PHEV в 2015 году
Тип BEV популярнее типа PHEV в 2016 году
Тип BEV популярнее типа PHEV в 2017 году
Тип BEV популярнее типа PHEV в 2018 году
Тип BEV популярнее типа PHEV в 2019 году
Тип BEV популярнее типа PHEV в 2020 году
Тип BEV популярнее типа PHEV в 2021 году
Тип BEV популярнее типа PHEV в 2022 году
Тип BEV популярнее типа PHEV в 2023 году
Тип BEV популярнее типа PHEV в 2024 году
Тип PHEV популярнее типа BEV в 2025 году
Оба типа одной и той же популярности в 2026 году
Оба типа одной и той же популярности в 2027 году
Оба типа одной и той же популярности в 2028 году
Оба типа одной и той же популярности в 2029 году

В итоге я сверил с более верхними данными и, действительно, всё сошлось!